<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");

			:host {
				display: block;
			}

			.footer-items {
				justify-content: space-evenly;
			}
		</style>
	</head>
	<body>
		<div class="flex row footer-items">
			<a href="#claims">
				<span>Claims</span>
			</a>
			<a href="#my-claims">
				<span>My Claims</span>
			</a>
			<a href="#account">
				<span>More</span>
			</a>
		</div>
	</body>
</html>
