<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");

			:host {
				display: block;
			}

			.footer-items {
				justify-content: space-evenly;
				font-size: 1.4rem;
			}

			a.active {
				pointer-events: none;
			}

			a.active .icon {
				color: var(--accent-color);
			}
		</style>
	</head>
	<body>
		<div class="flex row footer-items">
			<a href="#claims" class="inline-block center">
				<svg class="current-color icon" viewBox="0 0 16 16">
					<path d="M2.813 1A1 1 0 0 0 2 2v13a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5.562a1 1 0 0 0-.281-.718L10.156 1.28A1 1 0 0 0 9.438 1H3a1 1 0 0 0-.093 0 1 1 0 0 0-.094 0zM4 3h5v3h3v8H4V3z" overflow="visible"/>
				</svg>
				<br />
				<span>Claims</span>
			</a>
			<a href="#my-claims" class="inline-block center">
				<svg class="current-color icon" viewBox="0 0 14 16">
					<path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"/>
				</svg>
				<br />
				<span>My Claims</span>
			</a>
			<a href="#account" class="inline-block center">
				<svg class="current-color icon" viewBox="0 0 16 16">
					<path d="M3 3h10v2H3zm0 4h10v2H3zm0 4h10v2H3z"/>
				</svg>
				<br />
				<span>More</span>
			</a>
		</div>
	</body>
</html>
