<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");
		</style>
	</head>
	<body>
		<span class="container">
			<dialog id="" class="card shadow">
				<header class="sticky top clearfix">
					<button type="button" class="btn btn-reject float-right" data-click="close">
						<slot name="close-icon">
							<svg class="current-color icon" viewBox="0 0 12 16">
								<path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z"/>
							</svg>
						</slot>
					</button>
				</header>
				<p>
					<span>Posted on:</span>
					<slot name="created">No Date</slot>
				</p>
				<blockquote>
					<slot name="text"></slot>
					<slot name="author"></slot>
				</blockquote>
			</dialog>
		</span>
	</body>
</html>
