<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");
			:host {
				display: block;
			}
		</style>
	</head>
	<body>
		<header class="background-accent color-alt">
			<h3 class="center">More</h3>
		</header>
		<a href="#profile" class="block clearfix">
			<b>Profile</b>
			<svg class="current-color icon float-right" viewBox="0 0 8 16">
				<path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"/>
			</svg>
			<hr />
		</a>
		<logout-button role="button" class="btn btn-wide btn-round">Logout</logout-button>
		<br />
		<app-footer></app-footer>
	</body>
</html>
