<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");

			:host {
				display: block;
			}

			header {
				justify-content: space-evenly;
			}

			#login-container {
				bottom: 2.5rem;
			}

			logo-img {
				margin-top: 1rem;
				margin-bottom: 3rem;
			}
		</style>
	</head>
	<body>
		<form name="forgotPassword" class="relative center" hidden="">
			<logo-img></logo-img>
			<error-message></error-message>
			<fieldset id="request-step" class="no-border">
				<legend>Enter your email address</legend>
				<div class="input-group">
					<label for="login-email">
						<svg class="current-color icon color-accent" viewBox="0 0 16 16">
							<path d="M10.555 8.094C9.849 8.717 9.015 9 8 9c-1.016 0-1.853-.29-2.559-.914-1.109.363-2.436 1.288-2.437 2.902L3 14c0 .554.446 1 1 1h8c.554 0 1-.446 1-1v-3c0-1.387-1.102-2.556-2.445-2.906z"/>
							<path d="M11 5a3 3 0 1 1-6 0 3 3 0 1 1 6 0z" overflow="visible"/>
						</svg>
					</label>
					<input type="email" name="email" id="login-email" class="input" placeholder="user@example.com" autocomplete="email" required="" />
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary btn-wide btn-round">Submit</button>
		</form>
		<form name="resetPassword" class="relative center" hidden="">
			<logo-img></logo-img>
			<fieldset class="no-border">
				<legend>Enter new Password</legend>
				<input type="hidden" name="token" id="token" />
				<div class="input-group">
					<label for="reset-username">
						<svg class="current-color icon color-accent" viewBox="0 0 16 16">
							<path d="M10.555 8.094C9.849 8.717 9.015 9 8 9c-1.016 0-1.853-.29-2.559-.914-1.109.363-2.436 1.288-2.437 2.902L3 14c0 .554.446 1 1 1h8c.554 0 1-.446 1-1v-3c0-1.387-1.102-2.556-2.445-2.906z"/>
							<path d="M11 5a3 3 0 1 1-6 0 3 3 0 1 1 6 0z" overflow="visible"/>
						</svg>
					</label>
					<input type="email" name="username" id="reset-username" class="input" readonly="" />

				</div>
				<div class="input-group">
					<label for="new-password">
						<svg class="current-color icon color-accent" viewBox="0 0 16 16">
							<path d="M5 3C2.25 3 0 5.25 0 8s2.25 5 5 5c1.586 0 2.903-.845 3.813-2h5.593l.22-.75 1.03-4L15.97 5H8.813C7.903 3.845 6.586 3 5 3zm0 2c1.116 0 2.038.595 2.563 1.5l.312.5h5.531l-.53 2H7.874l-.312.5C7.038 10.405 6.116 11 5 11c-1.669 0-3-1.331-3-3s1.331-3 3-3z" overflow="visible"/>
							<path d="M14.498 8H9l-.563 2H14z" opacity=".35" overflow="visible"/>
							<path d="M5 8a1 1 0 1 1-2 0 1 1 0 1 1 2 0z" overflow="visible"/>
						</svg>
					</label>
					<input type="password" name="password" id="new-password" class="input" placeholder="Password" autocomplete="new-password" required="" />
				</div>
			</fieldset>
			<button type="submit" class="btn btn-primary btn-wide btn-round">Submit</button>
		</form>
		<div id="login-container" class="center absolute full-width">
			<a href="#login" class="block center color-accent">Go back to login page</a>
		</div>
	</body>
</html>
