<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<style>
			@import url("/css/core-css/element.css");
			@import url("/css/core-css/class-rules.css");
			@import url("/css/styles/common.css");

			:host {
				display: block;
			}

			header {
				justify-content: space-evenly;
			}

			#login-container {
				bottom: 2.5rem;
			}

			logo-img {
				margin-top: 1rem;
				margin-bottom: 3rem;
			}
		</style>
	</head>
	<body>
		<form name="forgotPassword" class="relative center">
			<logo-img></logo-img>
			<error-message></error-message>
			<div class="input-group">
				<label for="login-email">
					<svg class="current-color icon color-accent" viewBox="0 0 16 16">
						<path d="M10.555 8.094C9.849 8.717 9.015 9 8 9c-1.016 0-1.853-.29-2.559-.914-1.109.363-2.436 1.288-2.437 2.902L3 14c0 .554.446 1 1 1h8c.554 0 1-.446 1-1v-3c0-1.387-1.102-2.556-2.445-2.906z"/>
						<path d="M11 5a3 3 0 1 1-6 0 3 3 0 1 1 6 0z" overflow="visible"/>
					</svg>
				</label>
				<input type="email" name="username" id="login-email" class="input" placeholder="user@example.com" autocomplete="email" required="" />
			</div>
			<button type="submit" class="btn btn-primary btn-wide btn-round">Submit</button>
		</form>
		<div id="login-container" class="center absolute full-width">
			<a href="#login" class="block center color-accent">Go back to login page</a>
		</div>
	</body>
</html>
